<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DIGITAL SLAM</title>
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital@1&family=Fredoka+One&family=Lora:ital,wght@1,600&family=Montserrat:wght@400;900&family=Mouse+Memoirs&family=Orelega+One&family=Oswald:wght@600&family=Pacifico&family=Roboto+Slab:wght@800&family=Rubik+Moonrocks&family=Rubik:wght@800&family=Square+Peg&display=swap" rel="stylesheet">
</head>

<body>
