body{
  margin:0;
  background-color:#EED180;
  background-image: url("https://i.pinimg.com/originals/ff/22/d4/ff22d451a7862a8773196342d206e61e.jpg");
  background-position: center;
  background-size: cover;
}
h1,h3,h2,.comments{
  color: #61481C;
  font-family: 'Oswald', sans-serif;
}

.comments,.comments-data{
  font-size: 40px;
  color: #EED180;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userDisplay{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0;
}

p{
  color: #EED180;
  font-family: 'Oswald', sans-serif;
}
h6{
  color:#EED180;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
* {
  box-sizing: border-box;
}

.onlyImage{
  border-radius: 20px;
}

.flex-container-dashboard {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  background-color: #61481C;
  padding-top:20px;
  background-image: url("https://t3.ftcdn.net/jpg/03/07/33/48/360_F_307334834_gacOaPiZ8tULvcKsgzvIPkNQodE8ckY9.jpg");
  background-position: center;
  background-size: cover;
}

.flex-container-dashboard-inner{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  padding-top:20px;
}

.flex-item-left-dashboard,.flex-item-right-dashboard,.flex-item-left-dashboard-inner,.flex-item-right-dashboard-inner,.flex-item-right-dashboard-inner{
  padding: 4px;
  flex: 50%;
}

.container-image{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  padding-top:20px;
}
.container-image-left{
  align-items:center;
  flex: 50%;
}
.container-image-right{
  align-items:center;
  flex: 50%;
  text-align: justify;
}
#search {
  padding: 6px;
  margin: 10px 16px;
  width:330px;
  border: solid 2px #61481C ;
  border-radius:20px;
  font-size: 17px;
}

#backToDashboard,#searchUsers,#logout,#users,#confirm  {
  background-color: #EED180;
  border: none;
  color: #61481C;
  width: 240px;
  padding: 7px 32px;
  border-radius:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bolder;
  cursor:pointer;
}

#searchUsers:hover,#logout:hover,#users:hover,#backToDashboard:hover,#confirm:hover,#button:hover{
  background-color: #EDDFB3;
}

.card {
  margin:20px;
  background-color:#EED180;
  font-size:30px;
  font-weight:bolder;
  background-image: url("https://t3.ftcdn.net/jpg/03/07/33/48/360_F_307334834_gacOaPiZ8tULvcKsgzvIPkNQodE8ckY9.jpg");
  background-position: center;
  background-size: cover;
  color:#61481C;
  border:solid 4px;
  border-radius:20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-left {
  padding: 2px 16px;
  width:50%
}
.container-right {
  padding: 0px 206px;
  width:50%;
}

.flex-container-comment, {
  display: flex;
  flex-direction:column;
}

.flex-container-right,.flex-container-left  {
  padding: 10px;
  flex: 100%;
}
#button{
  margin:4px 120px;
  background-color: #EED180;
  border: none;
  width: 240px;
  color:#61481C;
  padding: 10px 32px;
  border-radius:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bolder;
  cursor:pointer;
}

#comment,#contact {
  width: 100%;
  padding: 12px;
  border: 3px solid #EED180;
  border-radius: 4px;
  resize: vertical;
  margin-bottom:3px;
}

.container {
  margin:20px;
  border: solid 3px #EED180;
  border-radius: 5px;
  padding: 20px;
  background-image: url("https://t3.ftcdn.net/jpg/03/07/33/48/360_F_307334834_gacOaPiZ8tULvcKsgzvIPkNQodE8ckY9.jpg");
  background-position: center;
  background-size: cover;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-container-text{
  text-align: center;
  font-size: 40px;
  color: #61481C;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 1250px) {
.flex-container-dashboard {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  background-color: #61481C;
  padding-top:20px;
}
.container-image{
  flex-direction: column;
}
}
@media (max-width: 800px) {
  .flex-container-comment {
    flex-direction: column;
  }
  .container-left {
  padding: 2px 16px;
}
.container-right {
  padding: 0 106px;
}
}
@media screen and (max-width: 600px) {
  #confirm {
    width: 100%;
    margin-top: 4px;
  }
}
