body {
  background-color: #EED180;
  padding-top: 210px;
  background-image: url("https://i.pinimg.com/originals/ff/22/d4/ff22d451a7862a8773196342d206e61e.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
.head{
  font-size: 120px;
  font-weight: 500;
  color: #61481C;
  font-family: 'Oswald', sans-serif;
  margin-top: 45px;
}
h6{
  color:#EED180;
  font-family: 'Oswald', sans-serif;
}
p{
  color: #61481C;
  font-family: 'Oswald', sans-serif;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/ff/22/d4/ff22d451a7862a8773196342d206e61e.jpg");
  background-position: center;
  background-size: cover;
}

.flex-item-left {
  padding: 0;
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
  border-radius: 5px;
  padding: 5px;
  padding-top: 50px;
  height:300px;
  background-position: center;
  background-size: cover;
}
.flex-item-right-register,.flex-item-right-login {
  flex: 50%;
  border-radius: 5px;
  padding: 5px;
  height:350px;
  background-position: center;
  background-size: cover;
}
.flex-container-search {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  background-color: #61481C;
  padding-top:20px;
}

.flex-item-left-search,.flex-item-right-search{
  padding: 4px;
  flex: 50%;
}

#username,#password,#department {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #61481C;
  border-radius: 4px;
  box-sizing: border-box;
}
#register,#login{
  width: 70%;
  background-color:#61481C ;
  font-size : 30px;
  color: #EED180;
  font-weight:bolder;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#register:hover,#login:hover{
  background-color:#A47E3B;
}

#search {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  border-radius:20px;
  font-size: 17px;
}
#searchUsers,#logout {
  background-color: #EED180;
  border: none;
  color: #61481C;
  padding: 7px 32px;
  border-radius:20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bolder;
  cursor:pointer;
}
#searchUsers:hover,#logout:hover{
  background-color: #EDDFB3;
}

@media screen and (max-width: 1250px) {
  .flex-container {
    flex-direction: column;
    padding:180px;
  }
  .flex-item-right {
  padding: 50px;
  flex: 50%;
}
  body{
  padding-top: 180px;
}
}
